.v-chip {
  padding: 15px 25px;
  border-radius: 7px;
  &__content {
    font-size: 16px;
    font-weight: 700;
    font-family: Padauk;
    color: var(--color-gray);
  }

  &--success {
    background-color: #8AC090;
  }

  &--danger {
    background: #963B43;
  }
}

@media (max-width: 550px) {
    .v-chip {
      display: none;
    }
}
