.bid-card {
  padding: 27px 32px 70px 32px;
  color: var(--color-white);
  border-radius: 7px;
  border: 1px dashed #F3F6FE;
  height: 520px;
  background: url("./images/bg.png") no-repeat bottom;

  &__input {
    //width: 264px;
    //font-size: 16px;
    //font-family: Padauk;
    //font-weight: 400;
  }

  &__slider {
    margin: 80px;
  }
  &__label {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
  }

  &__action {
    column-gap: 48px;
  }

  &__popup-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 155%;
    text-align: center;
    width: 90%;

    &--error {
      font-size: 22px;
      text-align: center;
    }
  }

  &__popup-actions {
    column-gap: 28px;
    margin: 10px 0;
  }

  &__dialog {
    padding: 30px;
  }
}

@media (max-width: 550px) {
  .bid-card {
    border-radius: inherit;
    border: none;
    padding: 0;
    height: auto;
    margin-bottom: 30px;

    background: var(--section-background);

    &__label {
      font-size: 14px;
    }

    &__slider {
      margin: 47px 0;
    }

    &__action {
      flex-direction: column;
      margin: auto;
      row-gap: 41px;
    }

    &__btn {
      margin: auto;
    }

    &__popup-text {
      font-size: 25px;

      &--error {
        font-size: 16px;
      }
    }
  }
}
