.generate-token-form {
  margin-top: 16px;

  &__wrapper {
    column-gap: 37px;
  }

  &__wallet {
    width: 513px;
  }

  &__balance {
    width: 264px;
  }

  &__action-btn {
    column-gap: 59px;
  }
}

@media (max-width: 1024px) {
  .generate-token-form {
    &__wrapper {
      row-gap: 40px;
      justify-content: start;
      column-gap: 60px;
    }
    &__generate {
      text-align: center;
      width: 170px;
      margin: auto;
    }

    &__action-btn {
      width: 100%;
      flex: 0 0 auto;
      justify-content: center;
    }
  }
}

@media (max-width: 550px) {
  .generate-token-form {
    margin: 0;

    &__wrapper {
      row-gap: 29px;
    }

    &__wallet {
      width: 100%;
    }

    &__balance {
      width: 100%;
    }

    &__chip {
      display: none;
    }

    &__action-btn {
      width: 100%;
      justify-content: center;
    }
  }
}
