.generate-token-form {
  margin-top: 16px;

  &__wrapper {
    column-gap: 37px;
  }

  &__wallet {
    width: 513px;
  }

  &__balance {
    width: 264px;
  }

  &__action-btn {
    column-gap: 59px;
  }
}
