.home-info-block-1 {
  color: var(--color-white);
  padding-top: 131px;
  position: relative;

  &__title {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
  }

  &__body {
    display: flex;
    column-gap: 44px;
    margin-top: 57px;
    margin-bottom: 35px;
  }

  &__img {
    width: 50%;
    padding: 15px 0;
  }

  &__content {
    width: 50%;
    font-size: var(--basic-font-size);
    font-weight: 400;
    line-height: 135%;
    color: var(--color-gray-2);
  }

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    //height: calc(var(--app-holder-height) - 115px);
    height: 115px;
    background-color: var(--color-gray);
    opacity: 1;
    z-index: 1;
    filter: blur(5px);
  }
}
@media (max-width: 550px) {
  .home-info-block-1 {
    padding: 60px 0;

    &__title {
      font-size: 30px;
        text-align: left;
    }

    &__body {
      margin: 0;
      margin-top: 38px;
      flex-direction: column;
    }

    &__img {
      width: 100%;
      padding: 0;
    }

    &__content {
      margin: 10px 0;
      width: 100%;
      font-size: 14px;
    }

    &::before {
      height: 40px;
    }
  }
}
