.footer-hero {
  padding: 50px 0;
  color: var(--color-white);
  background: var(--section-background);

  &__wrapper {
    row-gap: 30px;
  }

  &__list {
    row-gap: 30px;
  }

  &__item {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray-2);
  }

  &__link {
    color: var(--color-gray-2);
    text-decoration: underline;
  }
}
@media (max-width: 550px) {
  .footer-hero {
    padding: 20px 0;

    &__wrapper {
      row-gap: 0;
    }

    &__list {
      row-gap: 0;
    }

    &__item {
      margin: 20px 0;
      font-size: 12px;
    }
  }
}
