.hero-block {
  background: url('@/widgets/hero/ui/images/hero-bg.png') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 115px);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-direction: column;
  color: var(--color-white);
  padding: 0 15px;
  //margin-top: -100px;

  &__main {
    margin: 74px 0;
    margin-left: 20px;

    &--desktop {
      display: block;
    }

    &--md {
      display: none;
    }

    &--mobile {
      display: none;
    }
  }

  &__sub {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 7%;
  }

  &__context {
    font-size: 35px;
    font-weight: 400;
    text-align: left;
    width: 65%;
    line-height: 135%;
  }
}

@media (max-width: 1930px) {
  .hero-block {
    &__main {
      margin-left: -20%;
    }
  }
}

@media (max-width: 1750px) {
  .hero-block {
    &__main {
      margin-left: -25%;
      margin-top: 36px;
    }
  }
}

@media (max-width: 1600px) {
  .hero-block {
    &__main {
      margin-top: 36px;
      margin-left: -15px;
      margin-right: 128px;

      &--desktop {
        display: none;
      }

      &--md {
        display: block;
      }
    }

    &__context {
      font-size: 30px;
    }
  }
}

@media (max-width: 1440px) {
  .hero-block {
    justify-content: inherit;
    &__main {
      margin: 20px 0 0 -15px;
    }
  }
}

@media (max-width: 1024px) {
  .hero-block {
    height: 100%;
    padding-right: 24px;

    &__main {
      margin-top: 122px;
    }

    &__sub {
      position: inherit;
      flex-direction: column;
      row-gap: 57px;
      margin: 80px 0;
      justify-content: center;
    }

    &__context {
      margin: auto;
    }

    &__action-btn {
      margin: auto;
    }
  }
}

@media (max-width: 550px) {
  .hero-block {
    align-items: inherit;
    padding-right: 24px;

    &__main {
      &--desktop {
        display: none;
      }

        &--md {
            display: none;
        }

      &--mobile {
        display: block;
      }
    }

    &__sub {
      flex-direction: column;
      row-gap: 40px;
      width: auto;
      padding: 0 24px;
      left: 0;
    }

    &__context {
      width: 70%;
      font-size: 18px;
      margin-left: 5%;
    }

    &__action-btn {
      margin: auto;
    }
  }
}
