.hero-block {
  background: url('@/widgets/hero/ui/images/hero-bg.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
  padding: 0 15px;
  //margin-top: -100px;

  &__main {
    margin: 74px 0;

    &--desktop {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }

  &__sub {
    display: flex;
    justify-content: space-between;
  }

  &__context {
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    width: 65%;
  }

  &__action-btn {}
}

@media (max-width: 550px) {
  .hero-block {
    align-items: inherit;

    &__main {
      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }

    &__sub {
      flex-direction: column;
      row-gap: 40px;
    }

    &__context {
      width: 100%;
      font-size: 18px;
    }

    &__action-btn {
      margin: auto;
    }
  }
}
