.do-more {
  color: var(--color-white);

  &__title {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    padding: 70px 287px;
    row-gap: 30px;
  }
}

@media (max-width: 1700px) {
  .do-more {
    &__list {
      padding: 70px 187px;
    }
  }
}

@media (max-width: 1440px) {
  .do-more {
    &__list {
        padding: 70px 187px;
    }
  }
}

@media (max-width: 1024px) {
  .do-more {
    &__title {
      font-size: 30px;
    }
    &__list {
        padding: 70px 87px;
      justify-content: center;
    }
  }
}

@media (max-width: 550px) {
    .do-more {
      padding: 20px 0;

      &__title {
        font-size: 30px;
        text-align: left;
        padding: 0 24px;
        margin-bottom: 20px;
      }

      &__list {
        padding: 17px 0;
        justify-content: center;
      }
    }
}
