.do-more {
  color: var(--color-white);

  &__title {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
  }

  &__list {
    padding: 70px 0;
  }
}

@media (max-width: 550px) {
    .do-more {
      padding: 20px 0;

      &__title {
        font-size: 30px;
      }

      &__list {
        padding: 17px 0;
      }
    }
}
