.v-input {
  color: var(--color-white);
  &__label {
    font-size: var(--basic-font-size);
    font-weight: 400;
    text-align: center;
    display: block;
  }

  &.top-label {
    &__label {
      margin-bottom: 10px;
    }
  }
}

.left-label {
  display: flex;
  column-gap: 30px;

  .v-input__label {
    margin-right: 10px;
  }
}
