@font-face {
  font-display: swap;
  font-family: Roboto;
  font-weight: 400;
  src: url('@/assets/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-weight: 500;
  src: url('@/assets/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-weight: 700;
  src: url('@/assets/fonts/Roboto-Bold.woff2') format('woff2');
}
