.example-info-sub {
    color: var(--color-white);
    margin-top: 90px;
    padding-bottom: 10px;

    &__title {
        font-size: 50px;
        font-weight: 700;
    }
}

@media (max-width: 1440px) {
    .example-info-sub {
        &__context {
            padding-right: 0;
        }
    }
}

@media (max-width: 1024px) {
    .example-info-sub {
        &__title {
            font-size: 26px;
        }

        &__sub-title {
            font-size: 22px;
        }
    }
}

@media (max-width: 550px) {
    .example-info-sub {
        margin-top: 45px;
        &__title {
            font-size: 24px;
        }

        &__sub-title {
            font-size: var(--basic-font-size);
        }
    }
}
