.example-info-sub {
    background: var(--section-background);
    color: var(--color-white);
    padding: 30px 0;

    &__title {
        font-size: 50px;
        font-weight: 700;
        padding-right: 7%;
    }

    &__content {
        margin: 60px 0;
    }

    &__sub-title {
        font-size: 35px;
        font-weight: 700;
        line-height: 135%;
    }

    &__context {
        color: var(--color-gray-2);
        font-size: 22px;
        font-weight: 400;
        line-height: 135%;
        padding-right: 8%;
        margin: 57px 0;
        :deep(.example-info-sub__context--link) {
            text-decoration-line: underline;
            color: var(--color-gray-2);
        }
    }
}
