.game-page {
  background: var(--section-background);
  padding-top: 115px;

  &__title {
    font-size: 50px;
    font-weight: 700;
    color: var(--color-white);
  }
}
@media (max-width: 550px) {
  .game-page {
    padding-top: 88px;

    &__title {
      font-size: 24px;
      margin: 24px 0;
    }
  }
}

