.example-info-block {
  background: var(--section-background);
  color: var(--color-white);
  padding: 74px 0;
  position: relative;

  &__title {
    font-size: 50px;
    font-weight: 700;
    padding-right: 5%;
  }

  &__content {
    margin-top: 57px;
  }

  &__context {
    color: var(--color-gray-2);
    font-size: 22px;
    font-weight: 400;
    line-height: 135%;
    padding-right: 8%;
  }

  &__img {
    position: absolute;
    right: 0;
    width: auto;
    top: 15%;
  }
}
@media (max-width: 550px) {
  .example-info-block {
    padding: 24px 0;

    &__title {
      font-size: 24px;
    }

    &__content {
      margin-top: 28px;
    }

    &__context {
      font-size: 14px;
    }
  }
}
