.example-info-block {
  color: var(--color-white);
  margin: 37px 0;
  position: relative;

  &__title {
    font-size: 50px;
    font-weight: 700;
    padding-right: 5%;
  }

  &__content {
    margin: 57px 0;
  }

  &__context {
    color: var(--color-gray-2);
    font-size: var(--basic-font-size);
    font-weight: 400;
    line-height: 135%;
    padding-right: 8%;
  }

  &__img {
    position: absolute;
    right: 0;
    width: auto;
    top: 15%;
  }
}
@media (max-width: 550px) {
  .example-info-block {
    //padding: 24px 0;
    margin: 24px 0;

    &__title {
      font-size: 24px;
    }

    &__content {
      padding-top: 28px;
      margin: 0;
    }

    &__context {
      font-size: 14px;
    }

    &__img {
      width: 266px;
      height: auto;
    }
  }
}
