.do-more-card {
    &__logo {
      width: max-content;
      margin: auto;
    }

  &__context {
    max-width: 70%;
    margin: 27px auto;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .do-more-card {
    &__context {
      margin: 33px auto;
    }
  }
}
