.do-more-card {
    &__logo {
      width: max-content;
      margin: auto;
    }

  &__context {
    max-width: 70%;
    margin: 48px auto 27px auto;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
  }
}
@media (max-width: 550px) {
  .do-more-card {
    &__context {
      margin: 33px auto;
      font-size: 12px;
    }
  }
}
