.footer-content {
  padding: 40px 0 50px 0;
  background-color: var(--section-background);
  color: var(--color-gray-2);
  border-top: 1px solid #50596C;

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__main {
  }

  &__company-label {
    font-size: 18px;
    font-weight: 400;
  }

  &__links {
    column-gap: 80px;
  }

  &__link {
    color: var(--color-gray-2);
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width: 1024px) {
  .footer-content {
    &__logo {
      display: none;
    }
    &__company-label {
      margin-top: 21px;
      text-align: center;
    }
  }
}

@media (max-width: 550px) {
  .footer-content {
    padding-top: 47px;
    padding-bottom: 10px;

    &__logo {
      display: none;
    }

    &__company-label {
      order: 2;
      text-align: center;
      font-size: 10px;
      margin: 21px 0;
    }

    &__links {
      order: 1;
      justify-content: space-around;
      column-gap: 0;
    }

    &__link {
      font-size: 10px;
    }
  }
}
