.refund-block {
  padding: 76px 0;

  &__title {
    font-size: 35px;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 57px;
  }

  &__description {
    color: var(--color-gray-2);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__actions {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 550px) {
  .refund-block {
    padding: 0;
    padding-bottom: 70px;

    &__title {
      font-size: 22px;
      margin-bottom: 24px;
    }

    &__description {
      font-size: 14px;
      margin-bottom: 35px;
    }

    &__actions {
      justify-content: center;
    }

    &__btn {
      //width: 100%;
      margin: auto;
    }
  }
}
