.get-in-touch-card {
  padding: 65px 0;

    &__title {
      font-size: 60px;
      font-weight: 700;
      color: var(--color-white);
    }

  &__content {
    font-size: var(--basic-font-size);
    font-weight: 400;
    color: var(--color-gray-2);
    margin-top: 55px;
  }
}
@media (max-width: 550px) {
  .get-in-touch-card {
    padding: 0 0 10px 0;
    &__title {
      font-size: 30px;
      text-align: center;
    }

    &__content {
      margin: 28px 0;
      font-size: 14px;
    }
  }
}
