.get-in-touch-card {
  background: var(--section-background);
  padding: 80px 0;

    &__title {
      font-size: 60px;
      font-weight: 700;
      color: var(--color-white);
    }

  &__content {
    font-size: 22px;
    font-weight: 400;
    color: #BFC9E2;
  }
}
@media (max-width: 550px) {
  .get-in-touch-card {
    padding: 60px 0;
    &__title {
      font-size: 30px;
      text-align: center;
    }

    &__content {
      margin: 28px 0;
      font-size: 14px;
    }
  }
}
