.header {
    background-color: var(--header-background);
    height: 78px;
    display: flex;
    justify-content: space-between;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 40px;
        height: 40px;
    }

    &__menu {
        display: flex;
        column-gap: 11px;
        //margin: auto 0;
        &__item {
        }
    }
}
