// Need to refactor
.main-header {
    height: 78px;
    background: var(--header-background);
}
.header {
    backdrop-filter: blur(10px);
    background: rgba(24, 33, 46, .9);
    height: 78px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: var(--ui-index-3);
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        width: max-content;
        column-gap: 15px;
        height: 40px;
    }

    &__title {
        height: 20px;
    }

    &__menu {
        display: flex;
        column-gap: 10px;
        &__item {
        }
    }

    &__burger-menu {
        display: none;
    }
}
@media (max-width: 550px) {
    .header {
        &__title {
            display: none;
        }
        &__menu {
            display: none;
        }
        &__burger-menu {
            display: block;
        }
    }
}
@media (min-width: 360px) {}
